@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Manrope", sans-serif;
}

.head {
  background-color: #f2f8f3;
}

.nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.logo-div img {
  width: 200px;
}

.nav-list {
  display: flex;
  gap: 1.2em;
}

.nav-list li a {
  font-size: 1em;
  color: #122231;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 1.2em;
  align-items: center;
}

.fa-bars {
  font-size: 1.4em;
  color: #122231;
  display: none;
}

.sign-in {
  padding: 12px 14px;
  background-color: #f2f8f3;
  border: #122231 1px solid;
  font-size: 1em;
  font-weight: 500;
  border-radius: 10px;
  color: #122231;
}

.create-acc {
  padding: 12px 14px;
  background-color: #122231;
  border: #122231 1px solid;
  font-size: 1em;
  font-weight: 900;
  border-radius: 10px;
  color: #fff;
}

/* ---- media -- query -- for -- header  */

@media (max-width: 1197px) {
  .nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }

  .sign-in {
    padding: 8px 10px;
    background-color: #f2f8f3;
    border: #122231 1px solid;
    font-size: 1em;
    font-weight: 400;
    border-radius: 10px;
    color: #122231;
  }

  .create-acc {
    padding: 8px 10px;
    background-color: #122231;
    border: #122231 1px solid;
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
    color: #fff;
  }

  .nav-list li a {
    font-size: 1em;
    color: #122231;
    font-weight: 500;
  }
}

@media (max-width: 991px) {
  .logo-div img {
    width: 150px;
  }

  .nav-list li a {
    display: none;
  }

  .buttons a {
    display: none;
  }

  .fa-bars {
    display: block;
  }
}

/* ---- Hero ---- section ---- css ---- styling  */

.hero-sect {
  background-color: #f2f8f3;
  padding-top: 60px;
}

.hero-sect-flex {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  /* padding: 30px; */
}

.words-of-text {
  width: 300px;
}

.pay {
  color: #000;
  font-size: 2.6em;
  font-weight: 900;
}

.bills {
  color: #10b259;
}

.tech {
  color: #10b259;
  /* font-size: 2.8em; */
  font-weight: 900;
}

.with {
  color: #000;
  font-size: 2.8em;
  font-weight: 900;
}

.usdt {
  color: #000;
  font-size: 2.8em;
  font-weight: 900;
  margin-bottom: 10px;
}

.icons-a-p img {
  width: 150px;
  cursor: pointer;
  border-radius: 4px;
}

.easily {
  margin-bottom: 20px;
}

.icons-a-p .googgle-play {
  margin-right: 10px;
  width: 145px;
  border-radius: 4px;
}

.hero-image {
  margin-left: 40px;
  position: relative;
  animation: spak 5s linear infinite;
}

.w-img {
  position: absolute;
  top: 120px;
  left: -100px;
}

.e-img {
  position: absolute;
  top: 340px;
  left: -70px;
  width: 150px;
}

.r-img {
  position: absolute;
  right: -60px;
  top: 140px;
  width: 150px;
}

.t-img {
  position: absolute;
  right: -80px;
  top: 320px;
  width: 200px;
}

.y-img {
  position: absolute;
  bottom: -20px;
  right: 160px;
  width: 180px;
}

@keyframes spak {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* /--media-query-for-hero-section--/ */

@media (max-width: 1254px) {
  .w-img {
    left: 50px;
  }
  .e-img {
    left: 80px;
  }
}

@media (max-width: 1200px) {
  .hero-sect {
    padding-top: 20px;
  }

  .hero-sect-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }

  .w-img {
    left: -80px;
  }
  .e-img {
    left: -60px;
  }
  .r-img {
    right: -20px;
  }
  .t-img {
    right: -30px;
    padding-right: 20px;
  }
}

@media (max-width: 1042px) {
  .w-img {
    left: -10px;
  }
  .e-img {
    left: -5px;
  }
}

@media (max-width: 992px) {
  .hero-sect-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .words-of-text {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero-image {
    margin-left: 0px;
  }

  .icons-a-p {
    margin-bottom: 50px;
  }
}

@media (max-width: 563px) {
  .hero-image img {
    width: 350px;
  }
  .w-img {
    left: -10px;
    width: 100px;
  }
  .e-img {
    left: -10px;
    width: 100px;
  }
  .r-img {
    right: -10px;
    width: 100px;
  }
  .t-img {
    right: -10px;
    width: 100px;
    /* height: 10px; */
    padding-right: 20px;
  }
}

@media (max-width: 522px) {
  .words-of-text {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 425px) {
  .hero-image img {
    width: 250px;
  }
}

/* /--style-for-join-cardify--/ */

.join-cardify {
  background-color: #f2f8f3;
}

.join-cardify-flex {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 200px;
}

.p-join-cardify {
  font-weight: 900;
  font-size: 2.2em;
  margin-bottom: 20px;
}

.create-and-fund {
  width: 50%;
  margin: auto;
  font-weight: 900;
  margin-bottom: 80px;
}

.k-100-flex {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid #c5ead4;
}

.one-1 {
  border-right: 2px solid #c5ead4;
  width: 100%;
  padding-bottom: 25px;
}

.one-1 p {
  padding-top: 40px;
  font-size: 2.2em;
  font-weight: 900;
}

.one-1 span {
  /* padding-bottom: 800px; */
  font-weight: 900;
}

.one-2 {
  border-right: 2px solid #c5ead4;
  width: 100%;
  padding-bottom: 25px;
}

.one-2 p {
  padding-top: 40px;
  font-size: 2.2em;
  font-weight: 900;
}

.one-2 span {
  /* padding-bottom: 800px; */
  font-weight: 900;
}

.three-3 {
  width: 100%;
  padding-bottom: 25px;
}

.three-3 p {
  padding-top: 40px;
  font-size: 2.2em;
  font-weight: 900;
}

.three-3 span {
  /* padding-bottom: 800px; */
  font-weight: 900;
}

/* /--join-cardify--media--query--/ */

@media (max-width: 1234px) {
  .create-and-fund {
    width: 70%;
  }
}

@media (max-width: 987px) {
  .create-and-fund {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .k-100-flex {
    display: flex;
    flex-direction: column;
    border-top: none;
  }
  .one-1 {
    border-right: none;
    border-bottom: 2px solid #c5ead4;
    width: 100%;
    padding-bottom: 50px;
  }
  .one-2 {
    border-right: none;
    border-bottom: 2px solid #c5ead4;
    width: 100%;
    padding-bottom: 50px;
  }
  .create-and-fund {
    margin-bottom: 40px;
  }
}

/* /--third--section--css--styling--/ */

.third-section {
  background-color: #f2f8f3;
}

.div-third-section {
  width: 70%;
  margin: auto;
}

.first-section-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

.solutions-div {
  text-align: end;
  width: 45%;
}

.heading-solution-div {
  font-size: 1.8em;
  font-weight: 900;
}

.lettering-solution-div {
  align-items: end;
  text-align: end;
  padding-left: 250px;
}

.virtual-div {
  width: 45%;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 30px;
}

.heading-virtual-div {
  font-size: 1.8em;
  font-weight: 900;
  color: #003399;
  margin-bottom: 30px;
}

.lettering-virtual-div {
  padding-right: 180px;
  font-size: 0.9em;
  margin-bottom: 90px;
}

.bottom-virtual-div {
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: #003399;
  font-weight: 600;
}

.virtual-div:hover {
  background-color: #003399;
  transition: 0.8s;
}

.virtual-div:hover p {
  color: white;
  transition: 0.8s;
}

.second-section-div {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.buy-div {
  width: 45%;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 30px;
}

.heading-buy-div {
  font-size: 1.8em;
  font-weight: 900;
  color: #069b40;
  margin-bottom: 30px;
}

.lettering-buy-div {
  padding-right: 180px;
  font-size: 0.9em;
  margin-bottom: 90px;
}

.bottom-buy-div {
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: #069b40;
  font-weight: 600;
}

.buy-div:hover {
  background-color: #069b40;
  transition: 0.8s;
}

.buy-div:hover p {
  color: white;
  transition: 0.8s;
}

.us-div {
  width: 45%;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 30px;
}

.heading-us-div {
  font-size: 1.8em;
  font-weight: 900;
  color: #3296ff;
  margin-bottom: 30px;
}

.lettering-us-div {
  padding-right: 180px;
  font-size: 0.9em;
  margin-bottom: 110px;
}

.bottom-us-div {
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: #3296ff;
  font-weight: 600;
}

.us-div:hover {
  background-color: #3296ff;
  transition: 0.8s;
}

.us-div:hover p {
  color: white;
  transition: 0.8s;
}

.third-section-div {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.cardify-div {
  width: 45%;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 30px;
}

.heading-cardify-div {
  font-size: 1.8em;
  font-weight: 900;
  color: #7200f9;
  margin-bottom: 30px;
}

.lettering-cardify-div {
  padding-right: 180px;
  font-size: 0.9em;
  margin-bottom: 110px;
}

.bottom-cardify-div {
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: #7200f9;
  font-weight: 600;
}

.cardify-div:hover {
  background-color: #7200f9;
  transition: 0.8s;
}

.cardify-div:hover p {
  color: white;
  transition: 0.8s;
}

.naira-div {
  width: 45%;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 30px;
}

.heading-naira-div {
  font-size: 1.8em;
  font-weight: 900;
  color: #0c1825;
  margin-bottom: 30px;
}

.lettering-naira-div {
  padding-right: 180px;
  font-size: 0.9em;
  margin-bottom: 90px;
}

.buttom-naira-div {
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: #0c1825;
  font-weight: 600;
}

.naira-div:hover {
  background-color: #0c1825;
  transition: 0.8s;
}

.naira-div:hover p {
  color: white;
  transition: 0.8s;
}

/* /---media--query--for--third---sectiom---/ */

@media (max-width: 1500px) {
  .lettering-solution-div {
    padding-left: 150px;
  }

  .lettering-virtual-div {
    padding-right: 100px;
  }

  .lettering-buy-div {
    padding-right: 130px;
  }
  .lettering-naira-div {
    padding-right: 130px;
    margin-bottom: 110px;
  }
}

@media (max-width: 1211px) {
  .lettering-buy-div {
    padding-right: 140px;
  }
}

@media (max-width: 1200px) {
  .div-third-section {
    width: 95%;
  }
}

@media (max-width: 992px) {
  .div-third-section {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .div-third-section {
    width: 100%;
  }

  .first-section-div {
    display: flex;
    flex-direction: column;
  }

  .first-section-div div {
    width: 95%;
  }

  .second-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .second-section-div div {
    width: 95%;
    margin-bottom: 40px;
  }

  .third-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .third-section-div div {
    width: 95%;
    margin-bottom: 40px;
  }

  .solutions-div {
    margin-bottom: 40px;
    text-align: center;
    padding-left: 0px;
  }

  .heading-solution-div {
    margin-bottom: 10px;
  }

  .lettering-solution-div {
    padding-left: 0px;
    align-items: center;
    text-align: center;
  }
}

.fourth-section {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.div-fourth-section {
  width: 70%;
  margin: auto;
  background-color: #10b259;
  border-radius: 20px;
  padding-top: 60px;
  position: relative;
  padding-left: 80px;
  height: 470px;
}

.vibrant-p {
  font-weight: 900;
  font-size: 2.2em;
  text-align: center;
  width: 450px;
  margin: auto;
  margin-bottom: 10px;
}

.platform-p {
  text-align: center;
  margin-bottom: 20px;
}

.outside-p {
  font-weight: 900;
  font-size: 2.2em;
  color: #fff;
  margin-bottom: 10px;
}

.catch-p {
  width: 300px;
  color: #fff;
  margin-bottom: 100px;
  font-size: 0.9em;
}

.event-series-div {
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: white;
}

.fourth-img img {
  width: 300px;
  position: absolute;
  bottom: 0px;
  right: 100px;
}

@media (max-width: 1220px) {
  .outside-p {
    font-size: 1.8em;
  }
  .catch-p {
    width: 200px;
  }
}

@media (max-width: 1200px) {
  .outside-p {
    font-size: 1.8em;
  }
  .catch-p {
    width: 300px;
  }

  .div-fourth-section {
    width: 80%;
  }
  .fourth-img img {
    right: 40px;
  }
}

@media (max-width: 992px) {
  .div-fourth-section {
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  .div-fourth-section {
    height: 700px;
    text-align: center;
    padding-right: 20px;
    width: 95%;
  }
  .catch-p {
    margin-bottom: 20px;
    width: 100%;
  }
  .event-series-div {
    margin: auto;
    text-align: center;
    width: 230px;
  }
  .fourth-img img {
    right: 180px;
  }
}

@media (max-width: 620px) {
  .fourth-img img {
    right: 140px;
  }
}

@media (max-width: 540px) {
  .fourth-img img {
    right: 100px;
  }
}

@media (max-width: 485px) {
  .fourth-img img {
    right: 70px;
  }
}

@media (max-width: 451px) {
  .vibrant-p {
    font-size: 1.4em;
    width: 90%;
  }

  .catch-p {
    font-size: 0.8em;
  }

  .event-series-div {
    width: 200px;
    font-size: 0.8em;
  }

  .fourth-img img {
    width: 250px;
  }
}

@media (max-width: 379px) {
  .fourth-img img {
    right: 50px;
  }
}

@media (max-width: 350px) {
  .fourth-img img {
    right: 30px;
  }
}

/* /--fifth-section----styling---/ */

.fifth-section {
  background-color: #fff;
}

.div-fifth-section {
  width: 80%;
  margin: auto;
}

.meet-our {
  font-size: 1.8em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

.every-six {
  text-align: center;
  width: 600px;
  margin: auto;
  font-size: 0.9em;
  margin-bottom: 30px;
}

.div-flex-video {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  margin-bottom: 80px;
}

.div-flex-video div {
  width: 310px;
  height: 470px;
  margin: auto;
  padding: 15px;
  border: #eaeaea 1px solid;
  border-radius: 10px;
  /* margin: 10px; */
  margin-top: 20px;
}

.div-flex-video iframe {
  border-radius: 10px;
  margin-bottom: 5px;
}

.youtube-content {
  color: #000;
  font-weight: 900;
  margin-bottom: 10px;
}

.date {
  margin-bottom: 15px;
  color: #6e6a6a;
}

.div-flex-video a {
  border: #eaeaea 1px solid;
  border-radius: 20px;
  padding: 8px 80px;
  display: flex;
  align-items: center;
  gap: 1px;
  color: #6e6a6a;
  margin-top: 60px;
}

.div-flex-video i {
  padding-top: 3px;
}

@media (max-width: 772px) {
  .every-six {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 499px) {
  .div-fifth-section {
    width: 95%;
  }
}

@media (max-width: 359px) {
  .div-flex-video div {
    width: 280px;
    height: 470px;
  }
  .div-flex-video div iframe {
    width: 245px;
    height: 150px;
  }
  .div-flex-video a {
    padding: 8px 60px;    
  }
}

/* /----styling----for---the---sixth---section/ */

.sixth-section {
  background-color: #f2f8f3;
  padding-top: 80px;
}

.div-sixth-section {
  width: 60%;
  margin: auto;
}

.div-first-two{
  display: flex;
  justify-content: space-around;
}

.div-last-two{
  display: flex;
  justify-content: space-around;
}

.div-first{
  display: flex;
  gap: 1em;
  padding-right: 40px;
  margin-bottom: 30px;
}

.div-second{
  display: flex;
  gap: 1em;
  margin-bottom: 30px;
}

.div-third{
  display: flex;
  gap: 1em;
  padding-right: 40px;
  margin-bottom: 30px;
}

.div-fourth{
  display: flex;
  gap: 1em;
  margin-bottom: 30px;
}

.real-imag img {
  width: 250px;
}

.image-list img {
  width: 60px;
  border: #fff solid 3px;
  border-radius: 50%;
}

.img-list-div a img {
  width: 30px;
}

.special-div {
  display: flex;
  justify-content: space-around;
}

.div-icons {
  margin-top: 5px;
}

.div-icons img{
  background-color: #ffffff;
  border: #ffffff 2px solid;
  padding: 15px;
  border-radius: 15px;
}

.heado {
  font-weight: 900;
  font-size: .9em;
  margin-bottom: 7px;
}

.heado-body {
  font-size: .8em;
  padding-bottom: 10px;
}

.material-symbols-outlined {
  font-size: 1em;
}

.a-div-icon {
  font-size: .9em;
  font-weight: 900;
  color: black;
}

.image-list {
  position: relative;
  margin-top: 70px;
}

.image-list-1 {
  position: absolute;
  left: 1px;
}

.image-list-2 {
  position: absolute;
  left: 50px;
}

.image-list-3 {
  position: absolute;
  left: 100px;
}

.image-list-4 {
  position: absolute;
  left: 150px;
}

.image-list-5 {
  position: absolute;
  left: 200px;
}

.img-list-div p {
  margin-top: 170px;
}


/* /----media---query----for----the---sixth----section---/ */

@media (max-width: 1080px) {
  .div-sixth-section {
  width: 80%;
 
}
}

@media (max-width: 961px) {
  .div-sixth-section {
  width: 98%;
}
}

@media (max-width: 731px) {
  .div-first-two{
  display: flex;
  flex-direction: column;
}

.div-last-two{
  display: flex;
  flex-direction: column;
}

.special-div {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  text-align: center;
  align-items: center;
}

.image-list {
  width: 55%;
  margin: auto;
  align-items: center;
  margin-top: 0px;
}

.budwd {
  width: 65%;
  margin: auto;
  align-items: center;
  text-align: center;
}

.img-list-div p {
  margin-top: 70px;
}
}

@media (max-width: 545px) {
  .budwd {
    display: flex;
    flex-direction: column;
  }

 .image-list {
  width: 65%;
  /* margin: auto; */
}
}

@media (max-width: 360px) {
 .image-list {
  width: 75%;
  /* margin: auto; */
}
}

.last-section{
  background-color: #f2f8f3;
}

.div-last-section {
  width: 85%;
  margin: auto;
  background-color: white;
  margin: auto;
  padding-top: 80px;
  align-items: center;
  padding: 80px 20px 20px 20px;
}
.first-section-last-section div img {
  width: 180px;
}

.last-section-flex {
  display: flex;
  justify-content: space-between;
}

.last-section-heading {
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 20px;
}

.last-section-img-list{
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  width: 85%;
  padding-bottom: 50px;
}

.first-two-last-section {
  display: flex;
  gap: 2em;
}

.div-lats {
  display: flex;
  gap: 2em;
}

.sgiguiw {
  display: flex;
  gap: 2em;
}

.social-icons{
  display: flex;
  gap: .5em;
}