@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Manrope", sans-serif;
}

.head {
  background-color: #f2f8f3;
}

.nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.logo-div img {
  width: 200px;
}

.nav-list {
  display: flex;
  gap: 1.2em;
}

.nav-list li a {
  font-size: 1em;
  color: #122231;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 1.2em;
  align-items: center;
}

.fa-bars {
  font-size: 1.4em;
  color: #122231;
  display: none;
}

.sign-in {
  padding: 12px 14px;
  background-color: #f2f8f3;
  border: #122231 1px solid;
  font-size: 1em;
  font-weight: 500;
  border-radius: 10px;
  color: #122231;
}

.create-acc {
  padding: 12px 14px;
  background-color: #122231;
  border: #122231 1px solid;
  font-size: 1em;
  font-weight: 900;
  border-radius: 10px;
  color: #fff;
}



 .nav1 {
    position: relative;
}

.mekeo {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 210px;
    display: none;
    position: absolute;
}

.mekeo li {
    padding: 10px;
    /* background-color: #E5E7EB; */
    border-radius: 10px;
}

.mekeo li:hover {
    padding: 10px;
    background-color: #E5E7EB;
    border-radius: 10px;
}

.mekeo li a:hover {
    color: #222;
}


.nav1:hover .mekeo {
    display: block;
    z-index: 1251;
}


 .nav2 {
    position: relative;
}

.mekeo {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 210px;
    display: none;
    position: absolute;
}

.mekeo li {
    padding: 10px;
    /* background-color: #E5E7EB; */
    border-radius: 10px;
}

.mekeo li:hover {
    padding: 10px;
    background-color: #E5E7EB;
    border-radius: 10px;
}

.mekeo li a:hover {
    color: #222;
}


.nav2:hover .mekeo {
    display: block;
    z-index: 1251;
}

 .nav3 {
    position: relative;
}

.mekeo {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 210px;
    display: none;
    position: absolute;
}

.mekeo li {
    padding: 10px;
    /* background-color: #E5E7EB; */
    border-radius: 10px;
}

.mekeo li:hover {
    padding: 10px;
    background-color: #E5E7EB;
    border-radius: 10px;
}

.mekeo li a:hover {
    color: #222;
}


.nav3:hover .mekeo {
    display: block;
    z-index: 1251;
}

 .nav4 {
    position: relative;
}

.mekeo {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 210px;
    display: none;
    position: absolute;
}

.mekeo li {
    padding: 10px;
    /* background-color: #E5E7EB; */
    border-radius: 10px;
}

.mekeo li:hover {
    padding: 10px;
    background-color: #E5E7EB;
    border-radius: 10px;
}

.mekeo li a:hover {
    color: #222;
}


.nav4:hover .mekeo {
    display: block;
    z-index: 1251;
}

 .nav5 {
    position: relative;
}

.mekeo {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 210px;
    display: none;
    position: absolute;
}

.mekeo li {
    padding: 10px;
    /* background-color: #E5E7EB; */
    border-radius: 10px;
}

.mekeo li:hover {
    padding: 10px;
    background-color: #E5E7EB;
    border-radius: 10px;
}

.mekeo li a:hover {
    color: #222;
}


.nav5:hover .mekeo {
    display: block;
    z-index: 1251;
}

/* ---- media -- query -- for -- header  */

@media (max-width: 1197px) {
  .nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }

  .sign-in {
    padding: 8px 10px;
    background-color: #f2f8f3;
    border: #122231 1px solid;
    font-size: 1em;
    font-weight: 400;
    border-radius: 10px;
    color: #122231;
  }

  .create-acc {
    padding: 8px 10px;
    background-color: #122231;
    border: #122231 1px solid;
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
    color: #fff;
  }

  .nav-list li a {
    font-size: 1em;
    color: #122231;
    font-weight: 500;
  }
}

@media (max-width: 991px) {
  .logo-div img {
    width: 150px;
  }

  .nav-list li a {
    display: none;
  }

  .buttons a {
    display: none;
  }

  .fa-bars {
    display: block;
  }
}


.photo-collage-list {
  display: flex;
  gap: 1em;
}

.photo-collage {
  background-color: #f2f8f3;
}

.photo-collage-list div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.photo-collage-list img {
  width: 170px;
}

.photo-collage-div {
  width: 82%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0px 40px;

  padding: 0px 0px 100px 0px;
}

.our-mission {
  padding: 7px 10px;
  background-color: #caffdc;
  border-radius: 30px;
  margin-bottom: 40px;
  color: #10b259;
  font-weight: 700;
}

.mission-text {
  font-size: 2.6em;
  font-weight: 900;
  margin-top: 20px;
  width: 400px;
}

@media (max-width: 1250px) {
  .photo-collage-list img {
    width: 130px;
  }
}

@media (max-width: 1172px) {
  .photo-collage-div {
    width: 100%;
    padding: 40px 40px 100px 40px;
  }
}

@media (max-width: 991px) {
  .photo-collage-div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .photo-collage-list {
    display: flex;
    justify-content: center;
  }

  .mission-text {
    width: 100%;
    margin-bottom: 40px;
  }
  .photo-collage-list img {
    width: 250px;
  }
}

@media (max-width: 822px) {
  .photo-collage-list img {
    width: 200px;
  }
}

@media (max-width: 732px) {
  .photo-collage-list img {
    width: 150px;
  }

  .mission-text {
    font-size: 2.2em;
  }
}

@media (max-width: 564px) {
  .photo-collage-list img {
    width: 120px;
  }

  .mission-text {
    font-size: 1.5em;
  }
}

@media (max-width: 419px) {
  .photo-collage-list img {
    width: 100px;
  }

  .mission-text {
    font-size: 1.2em;
  }

  .photo-collage-list {
    gap: 0.21em;
  }

  .photo-collage-list div {
    gap: 0.21em;
  }
}

.second-sectio {
  background-color: #f2f8f3;
}

.div-second-sectio {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 3em;
}

.div-second-sectio div img {
  width: 500px;
}

.div-second-sectio div span {
  font-weight: 900;
  font-size: 2em;
}

.div-second-sectio div p {
  font-size: 1em;
  margin-top: 15px;
  text-align: justify;
}

@media (max-width: 1250px) {
  .div-second-sectio div img {
    width: 450px;
  }
  .div-second-sectio {
    width: 82%;
  }
}

@media (max-width: 1172px) {
  .div-second-sectio {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-second-sectio div img {
    width: 380px;
  }
}

@media (max-width: 871px) {
  .div-second-sectio div img {
    width: 300px;
  }
}

@media (max-width: 730px) {
  .div-second-sectio div img {
    width: 100%;
  }
  .div-second-sectio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    padding: 0px 20px 0px 20px;
  }
}




/* /----styling----for---the---sixth---section/ */

.sixth-section {
  background-color: #f2f8f3;
  padding-top: 80px;
}

.div-sixth-section {
  width: 60%;
  margin: auto;
}

.div-first-two {
  display: flex;
  justify-content: space-around;
}

.div-last-two {
  display: flex;
  justify-content: space-around;
}

.div-first {
  display: flex;
  gap: 1em;
  padding-right: 40px;
  margin-bottom: 30px;
}

.div-second {
  display: flex;
  gap: 1em;
  margin-bottom: 30px;
}

.div-third {
  display: flex;
  gap: 1em;
  padding-right: 40px;
  margin-bottom: 30px;
}

.div-fourth {
  display: flex;
  gap: 1em;
  margin-bottom: 30px;
}

.real-imag img {
  width: 250px;
}

.image-list img {
  width: 60px;
  border: #fff solid 3px;
  border-radius: 50%;
}

.img-list-div a img {
  width: 30px;
}

.special-div {
  display: flex;
  justify-content: space-around;
}

.div-icons {
  margin-top: 5px;
}

.div-icons img {
  background-color: #ffffff;
  border: #ffffff 2px solid;
  padding: 15px;
  border-radius: 15px;
}

.heado {
  font-weight: 900;
  font-size: 0.9em;
  margin-bottom: 7px;
}

.heado-body {
  font-size: 0.8em;
  padding-bottom: 10px;
}

.material-symbols-outlined {
  font-size: 1em;
}

.a-div-icon {
  font-size: 0.9em;
  font-weight: 900;
  color: black;
}

.image-list {
  position: relative;
  margin-top: 70px;
}

.image-list-1 {
  position: absolute;
  left: 1px;
}

.image-list-2 {
  position: absolute;
  left: 50px;
}

.image-list-3 {
  position: absolute;
  left: 100px;
}

.image-list-4 {
  position: absolute;
  left: 150px;
}

.image-list-5 {
  position: absolute;
  left: 200px;
}

.img-list-div p {
  margin-top: 170px;
}

/* /----media---query----for----the---sixth----section---/ */

@media (max-width: 1080px) {
  .div-sixth-section {
    width: 80%;
  }
}

@media (max-width: 961px) {
  .div-sixth-section {
    width: 98%;
  }
}

@media (max-width: 731px) {
  .div-first-two {
    display: flex;
    flex-direction: column;
  }

  .div-last-two {
    display: flex;
    flex-direction: column;
  }

  .special-div {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    text-align: center;
    align-items: center;
  }

  .image-list {
    width: 55%;
    margin: auto;
    align-items: center;
    margin-top: 0px;
  }

  .budwd {
    width: 65%;
    margin: auto;
    align-items: center;
    text-align: center;
  }

  .img-list-div p {
    margin-top: 70px;
  }
}

@media (max-width: 545px) {
  .budwd {
    display: flex;
    flex-direction: column;
  }

  .image-list {
    width: 65%;
    /* margin: auto; */
  }
}

@media (max-width: 360px) {
  .image-list {
    width: 75%;
    /* margin: auto; */
  }
}

.last-section {
  background-color: #f2f8f3;
}

.div-last-section {
  width: 85%;
  margin: auto;
  background-color: white;
  margin: auto;
  padding-top: 80px;
  align-items: center;
  padding: 80px 80px 40px 80px;
}

.first-section-last-section {
  margin-right: 20px;
}

.first-section-last-section div img {
  width: 180px;
}

.last-section-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.last-section-heading {
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 20px;
}

.last-section-img-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  padding-bottom: 50px;
}

.last-section-img-list img {
  width: 170px;
}

.first-two-last-section {
  display: flex;
  gap: 2em;
  color: black;
}

.div-lats {
  display: flex;
  gap: 2em;
  color: black;
}

.div-lats ul a li {
  color: #4d4d4d;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.sgiguiw {
  display: flex;
  gap: 2em;
  color: black;
  margin-right: 20px;
}

.sgiguiw ul a li {
  color: #4d4d4d;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  gap: 0.5em;
  color: black;
  align-items: end;
  justify-content: end;
}

.vfo {
  font-size: 0.9em;
  color: #4d4d4d;
  margin-bottom: 30px;
  margin-right: 120px;
}

.dwi {
  font-size: 0.9em;
  color: #4d4d4d;
  margin-bottom: 40px;
  margin-right: 120px;
}

.edeh {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  font-weight: 700;
  text-align: end;
  display: flex;
  justify-content: end;
}

.dww {
  color: #4d4d4d;
  font-size: 0.9em;
  text-align: end;
}

/* /--last---section-media----query---/ */

@media (max-width: 1250px) {
  .div-last-section {
    width: 90%;
    padding: 80px 40px 40px 40px;
  }
}

@media (max-width: 1038px) {
  .div-last-section {
    width: 95%;
    padding: 80px 30px 40px 30px;
  }
}

@media (max-width: 942px) {
  .last-section-flex {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .div-last-section {
    width: 100%;
    padding: 80px 30px 40px 30px;
  }

  .first-section-last-section {
    display: flex;
    gap: 2em;
    align-items: center;
  }
}

@media (max-width: 653px) {
  .wudhwu {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .vfo {
    margin-right: 0px;
  }

  .first-two-last-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .dwi {
    margin-right: 0px;
  }

  .edeh {
    display: flex;
    justify-content: left;
  }

  .social-icons {
    display: flex;
    justify-content: left;
  }

  .dww {
    text-align: left;
  }
}

@media (max-width: 426px) {
  .first-section-last-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sgiguiw {
    display: flex;
    flex-direction: column;
  }
}