@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Manrope", sans-serif;
}

.head {
  background-color: #f2f8f3;
}

.nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.logo-div img {
  width: 200px;
}

.nav-list {
  display: flex;
  gap: 1.2em;
}

.nav-list li a {
  font-size: 1em;
  color: #122231;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 1.2em;
  align-items: center;
}

.fa-bars {
  font-size: 1.4em;
  color: #122231;
  display: none;
}

.sign-in {
  padding: 12px 14px;
  background-color: #f2f8f3;
  border: #122231 1px solid;
  font-size: 1em;
  font-weight: 500;
  border-radius: 10px;
  color: #122231;
}

.create-acc {
  padding: 12px 14px;
  background-color: #122231;
  border: #122231 1px solid;
  font-size: 1em;
  font-weight: 900;
  border-radius: 10px;
  color: #fff;
}



 .nav1 {
    position: relative;
}

.mekeo {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 210px;
    display: none;
    position: absolute;
}

.mekeo li {
    padding: 10px;
    /* background-color: #E5E7EB; */
    border-radius: 10px;
}

.mekeo li:hover {
    padding: 10px;
    background-color: #E5E7EB;
    border-radius: 10px;
}

.mekeo li a:hover {
    color: #222;
}


.nav1:hover .mekeo {
    display: block;
    z-index: 1251;
}


 .nav2 {
    position: relative;
}

.mekeo {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 210px;
    display: none;
    position: absolute;
}

.mekeo li {
    padding: 10px;
    /* background-color: #E5E7EB; */
    border-radius: 10px;
}

.mekeo li:hover {
    padding: 10px;
    background-color: #E5E7EB;
    border-radius: 10px;
}

.mekeo li a:hover {
    color: #222;
}


.nav2:hover .mekeo {
    display: block;
    z-index: 1251;
}

 .nav3 {
    position: relative;
}

.mekeo {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 210px;
    display: none;
    position: absolute;
}

.mekeo li {
    padding: 10px;
    /* background-color: #E5E7EB; */
    border-radius: 10px;
}

.mekeo li:hover {
    padding: 10px;
    background-color: #E5E7EB;
    border-radius: 10px;
}

.mekeo li a:hover {
    color: #222;
}


.nav3:hover .mekeo {
    display: block;
    z-index: 1251;
}

 .nav4 {
    position: relative;
}

.mekeo {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 210px;
    display: none;
    position: absolute;
}

.mekeo li {
    padding: 10px;
    /* background-color: #E5E7EB; */
    border-radius: 10px;
}

.mekeo li:hover {
    padding: 10px;
    background-color: #E5E7EB;
    border-radius: 10px;
}

.mekeo li a:hover {
    color: #222;
}


.nav4:hover .mekeo {
    display: block;
    z-index: 1251;
}

 .nav5 {
    position: relative;
}

.mekeo {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 210px;
    display: none;
    position: absolute;
}

.mekeo li {
    padding: 10px;
    /* background-color: #E5E7EB; */
    border-radius: 10px;
}

.mekeo li:hover {
    padding: 10px;
    background-color: #E5E7EB;
    border-radius: 10px;
}

.mekeo li a:hover {
    color: #222;
}


.nav5:hover .mekeo {
    display: block;
    z-index: 1251;
}

/* ---- media -- query -- for -- header  */

@media (max-width: 1197px) {
  .nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }

  .sign-in {
    padding: 8px 10px;
    background-color: #f2f8f3;
    border: #122231 1px solid;
    font-size: 1em;
    font-weight: 400;
    border-radius: 10px;
    color: #122231;
  }

  .create-acc {
    padding: 8px 10px;
    background-color: #122231;
    border: #122231 1px solid;
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
    color: #fff;
  }

  .nav-list li a {
    font-size: 1em;
    color: #122231;
    font-weight: 500;
  }
}

@media (max-width: 991px) {
  .logo-div img {
    width: 150px;
  }

  .nav-list li a {
    display: none;
  }

  .buttons a {
    display: none;
  }

  .fa-bars {
    display: block;
  }
}


.photo-collage-list {
  display: flex;
  gap: 1em;
}

.photo-collage {
  background-color: #f2f8f3;
}

.photo-collage-list div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.photo-collage-list img {
  width: 170px;
}

.photo-collage-div {
  width: 82%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0px 40px;

  padding: 0px 0px 100px 0px;
}

.our-mission {
  padding: 7px 10px;
  background-color: #caffdc;
  border-radius: 30px;
  margin-bottom: 40px;
  color: #10b259;
  font-weight: 700;
}

.mission-text {
  font-size: 2.6em;
  font-weight: 900;
  margin-top: 20px;
  width: 400px;
}

@media (max-width: 1250px) {
  .photo-collage-list img {
    width: 130px;
  }
}

@media (max-width: 1172px) {
  .photo-collage-div {
    width: 100%;
    padding: 40px 40px 100px 40px;
  }
}

@media (max-width: 991px) {
  .photo-collage-div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .photo-collage-list {
    display: flex;
    justify-content: center;
  }

  .mission-text {
    width: 100%;
    margin-bottom: 40px;
  }
  .photo-collage-list img {
    width: 250px;
  }
}

@media (max-width: 822px) {
  .photo-collage-list img {
    width: 200px;
  }
}

@media (max-width: 732px) {
  .photo-collage-list img {
    width: 150px;
  }

  .mission-text {
    font-size: 2.2em;
  }
}

@media (max-width: 564px) {
  .photo-collage-list img {
    width: 120px;
  }

  .mission-text {
    font-size: 1.5em;
  }
}

@media (max-width: 419px) {
  .photo-collage-list img {
    width: 100px;
  }

  .mission-text {
    font-size: 1.2em;
  }

  .photo-collage-list {
    gap: 0.21em;
  }

  .photo-collage-list div {
    gap: 0.21em;
  }
}

/* -styling---for---woli---div--- */

.woli-section {
  background-color: #f2f8f3;
}

.woli-div {
  width: 80%;
  margin: auto;
  padding-bottom: 80px;
}

.woli-div-container {
  display: flex;
  justify-content: end;
}

.woli-div-container iframe {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.woli-card {
  background-color: #fff;
  padding: 60px 0px 40px 20px;
}

.woli-card p {
  font-size: 1.3em;
  font-weight: 600;
}

.woli-card span {
  font-weight: 500;
}

.woli-button {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.woli-button a {
  padding: 10px 20px;
  border-radius: 40px;
  background-color: #B7E8CD;
  color: #10B360;
  font-weight: 600;
}

@media (max-width: 375px){
  .woli-div {
    width: 94%;
  }
}



.woli-section {
  background-color: #f2f8f3;
}

.lateef-div {
  width: 80%;
  margin: auto;
  padding-bottom: 80px;
}



.lateef-div-container iframe {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.lateef-card {
  background-color: #fff;
  padding: 60px 20px 40px 20px;
}

.lateef-card p {
  font-size: 1.3em;
  font-weight: 600;
  text-align: end;
}

.lateef-card span {
  font-weight: 500;
  text-align: end;
  display: flex;
  justify-content: end;
}

.lateef-button {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: end;
  justify-content: end;
}

.lateef-button a {
  padding: 10px 20px;
  border-radius: 40px;
  background-color: #B7E8CD;
  color: #10B360;
  font-weight: 600;
}

@media (max-width: 375px){
  .woli-div {
    width: 94%;
  }
}

/* ---styling---for---video---wrap---section--- */

.video-section{
  background-color: #f2f8f3;
}

.video-wrap {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 9em;
  padding-bottom: 80px;
}

.wrapping {
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  padding-bottom: 20px;
}

.wrapping iframe {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.wrapping .wrap-1 {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.3em;
  font-weight: 800;
}

.wrapping .wrap-2 {

  padding-right: 10px;
  padding-left: 10px;
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 20px;
}

.wrap-3 {
  padding-right: 10px;
  padding-left: 10px;
  font-size: .8em;
  padding-bottom: 20px;
}

.wrapping a {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #FAF1F4;
  border-radius: 40px;
  color: #B3346C;
  font-weight: 600;
  margin-bottom: 20px;
}

@media (max-width: 375px){
  .video-wrap{
    width: 96%;
  }
}


.last-section {
  background-color: #f2f8f3;
}

.div-last-section {
  width: 85%;
  margin: auto;
  background-color: white;
  margin: auto;
  padding-top: 80px;
  align-items: center;
  padding: 80px 80px 40px 80px;
}

.first-section-last-section {
  margin-right: 20px;
}

.first-section-last-section div img {
  width: 180px;
}

.last-section-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.last-section-heading {
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 20px;
}

.last-section-img-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  padding-bottom: 50px;
}

.last-section-img-list img {
  width: 170px;
}

.first-two-last-section {
  display: flex;
  gap: 2em;
  color: black;
}

.div-lats {
  display: flex;
  gap: 2em;
  color: black;
}

.div-lats ul a li {
  color: #4d4d4d;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.sgiguiw {
  display: flex;
  gap: 2em;
  color: black;
  margin-right: 20px;
}

.sgiguiw ul a li {
  color: #4d4d4d;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  gap: 0.5em;
  color: black;
  align-items: end;
  justify-content: end;
}

.vfo {
  font-size: 0.9em;
  color: #4d4d4d;
  margin-bottom: 30px;
  margin-right: 120px;
}

.dwi {
  font-size: 0.9em;
  color: #4d4d4d;
  margin-bottom: 40px;
  margin-right: 120px;
}

.edeh {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  font-weight: 700;
  text-align: end;
  display: flex;
  justify-content: end;
}

.dww {
  color: #4d4d4d;
  font-size: 0.9em;
  text-align: end;
}

/* /--last---section-media----query---/ */

@media (max-width: 1250px) {
  .div-last-section {
    width: 90%;
    padding: 80px 40px 40px 40px;
  }
}

@media (max-width: 1038px) {
  .div-last-section {
    width: 95%;
    padding: 80px 30px 40px 30px;
  }
}

@media (max-width: 942px) {
  .last-section-flex {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .div-last-section {
    width: 100%;
    padding: 80px 30px 40px 30px;
  }

  .first-section-last-section {
    display: flex;
    gap: 2em;
    align-items: center;
  }
}

@media (max-width: 653px) {
  .wudhwu {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .vfo {
    margin-right: 0px;
  }

  .first-two-last-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .dwi {
    margin-right: 0px;
  }

  .edeh {
    display: flex;
    justify-content: left;
  }

  .social-icons {
    display: flex;
    justify-content: left;
  }

  .dww {
    text-align: left;
  }
}

@media (max-width: 426px) {
  .first-section-last-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sgiguiw {
    display: flex;
    flex-direction: column;
  }
}
